<!DOCTYPE html>
<html lang="en" class="x-admin-sm">
<head>
  <meta charset="utf-8">
  <title>ZIHUA - 资料分享站</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" >
  <meta name="description" >
  <script type="text/X-javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/X-javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <script type="text/X-javascript" src="{{url_for('static', filename='js/Front/exit.js')}}"></script>
  <script type="text/X-javascript" src="{{url_for('static', filename='lib/layui/layui.js')}}"></script>
  <script type="text/X-javascript" src="{{url_for('static', filename='js/Common/xadmin.js')}}"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                      <div class="about-content">
                        <div class="about-big-img">
                          <div class="text_box">
                            <div class="text">
                              <h3>**靓瞎你的眼**</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- footer -->
                      <div class="footer">
                        <div class="line"></div>
                        <p class="copyright">
                          @2021  ALL Copyright Zihua<br />
                          E-MAIL:zihua1022@qq.com<br />
                          TEL:157182*****
                        </p>
                        <div class="icon_box">
                          <a href="javascript:;" ><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
                          <a href="javascript:;" ><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
                        </div>
                      </div>
                      <!-- end-footer -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>






